*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1;
    transition: all 0.5s ease;
}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #FFF;
}
.container{
    background-image: linear-gradient(to top , rgb(181, 226, 250),rgb(181, 226, 250));
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.bg-dark{
    background-image: linear-gradient(to bottom , rgb(13, 27, 42),rgb(26, 38, 59));
}
.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}
.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}
.theme-toggler.active{
    color: #333;
}
.theme-toggler.active::before{
    background-color: #0e69d162;
}
.theme-toggler::before{
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background-color: #0FA3B1;
    z-index: -1;
}
#display{
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}
#display::-webkit-scrollbar{
    display: block;
    height: 3px;
}
button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 5px;
    margin: 5px;
    font-style: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}
button:hover{
    transform: scale(1.1);
}
button#equal{
    height: 130px;
}

/************ tema claro *************/

.calculator{
    background-color: #F9F7F3;
}/*
.calculator #display{
    color: #0a1e23;
}*/
.calculator button#clear{
    background-color: #fff4c9;
    color: #ccb558;
}
.calculator button.btn-number{
    background-color: #F7A072;
    color:#000 ;
}
.calculator button.btn-operator{
    background-color: #B5E2FA;
    color:#0e95dd;
}
.calculator button.btn-equal{
    background-color: #EDDEA4;
    color: #000000;
}

/************ tema oscuro(dark) *************/

.calculator.dark{
    background-color: #1b263b;
    color: #fff;
}

.calculator.dark button#clear{
    background-color: #00276c;
    color: #2b61be;
}
.calculator.dark button.btn-number{
    background-color: #96b3ff;
    color: #d4d4d4;
}
.calculator.dark button.btn-operator{
    background-color: #5b7dcf;
    color: #0137b3;
}
.calculator.dark button.btn-equal{
    background-color: #014ba0;
    color: #fff;
}
